<html>
    <head>
        <title>Restaurants</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">

            <h1>{{ restaurant.getName }}</h1>
            <ul>
              <li>{{ restaurant.getPhone }}</li>
              <li>{{ restaurant.getAddress }}</li>
              <li><a href= "{{ restaurant.getWebsite }}">Website</a></li>
            </ul>

            <form action="/form_restaurant_update">
                    <input id="restaurant_id" name="restaurant_id" type="hidden" value="{{ restaurant.getId }}">
                    <button type="submit" class="btn btn-info">Change restaurant information</button>
            </form>

            {% if form_check != false %}
                <form action="/update_restaurant" method="post">
                    <input name="_method" type="hidden" value="patch">
                    <input id="restaurant_id" name="restaurant_id" type="hidden" value="{{ restaurant.getId }}">

                    <h4>Enter updated information about the restaurant</h4>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" name="name" class="form-control" type="text" placeholder="Restaurant Name" value="{{ restaurant.getName }}" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input id="phone" name="phone" class="form-control" type="text" placeholder="Restaurant Phone Number" value="{{ restaurant.getPhone }}" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input id="address" name="address" class="form-control" type="text" placeholder="Restaurant Address" value="{{ restaurant.getAddress }}" required>
                    </div>
                    <div class="form-group">
                        <label for="website">Website</label>
                        <input id="website" name="website" class="form-control" type="text" placeholder="Restaurant URL" value="{{ restaurant.getWebsite }}" required>
                    </div>
                    <label for = "cuisine_id">Type of Cuisine</label>
                    <select class="form-control" id="cuisine_id" name="cuisine_id" value="{{ restaurant.getCuisineId }}">
                        {% for cuisine in cuisines %}
                            {% if restaurant.getCuisineId == cuisine.getId %}
                                <option value="{{ cuisine.getId }}" selected>{{ cuisine.getType }}</option>
                            {% else %}
                                <option value="{{ cuisine.getId }}">{{ cuisine.getType }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <br>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            {% endif %}
            {% for cuisine in cuisines %}
                {% if restaurant.getCuisineId == cuisine.getId %}
                    <form action="/cuisines/{{ restaurant.getCuisineId }}">
                        <button type="submit" class="btn btn-default">List of all {{ cuisine.GetType }} restaurants</button>
                    </form>
                {% endif %}
            {% endfor %}
            <form action="/">
            <button type="submit" class="btn btn-primary">Home</button>
        </form>
        </div>
    </body>
</html>
